<div class="row">
  <div class="col-md-6">
    <h3>Wednesday</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Automating tasks with the Unix shell</td> </tr>
      <tr> <td>11:15</td>  <td>Break</td> </tr>
      <tr> <td>11:30</td>  <td>Automating tasks with the Unix shell (continued)</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thursday</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Interacting with HPC</td> </tr>
      <tr> <td>11:15</td>  <td>Break</td> </tr>
      <tr> <td>11:30</td>  <td>Interacting with HPC (continued)</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>

</div>
