<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction to MPI and Designing Parallel Algorithms</td> </tr>
      <tr> <td>10:50</td>  <td>Coffee</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Testing and Best Practices</td> </tr>
      <tr> <td>14:45</td>  <td>Coffee</td> </tr>
      <tr> <td>13:30</td>  <td>Implementing a Parallel Algorithm, Scaling and Profiling</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
      <tr> <td>     </td>  <td><a href="https://rantahar.github.com/introduction-to-mpi/reference">Reference...</a></td></tr>
    </table>
  </div>

</div>
