<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers at
  Swansea University who are working with or are planning work with
  parallel applications.

  You should have some experience with either <strong>C or Fortran</strong>.
  We will also use the Sunbird system using the Bash Shell.
  Familiarity with the materials in the <strong> SA2C
  <a href="https://rantahar.github.com/introduction-to-mpi/reference">Shell and HPC</a>
  workshop</strong> materials is helpful.
</p>
